<div class="row">
  <div class="kexue-tag">
    <div class="show-qr-page" >
      <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
          <legend>下面是wingy专用的二维码</legend>
          <div class="qr-code text-center" id="ss_qrcode">
            <%= raw @qr.as_html %>
          </div>
          <div class="alert-qr well">
            此链接10分钟后会失效，请截图保存好二维码。<br>
            这是您独享的资源，请不要分享出去哦。
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
