
  <div id="title">
    <span>亮锅后台</span>
    <br />
    <span>实现更有价值的计算</span>
    <div class="row">
      <%= link_to "立即进入", products_path, class: "btn welcome-index-btn"%>
    </div>

    <div class="icp-link">
      <%= link_to "粤ICP备17119173号-1", "http://www.miitbeian.gov.cn/" %>
    </div>
  </div>
