<!DOCTYPE html>
<html>
  <head>
    <title>亮锅后台
    </title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: transparent;">

    <div class="container-fluid">

      <div class="row">
        <%= yield %>
      </div>
    </div>


  </body>
</html>
